<%- include("../inc/head.ejs") %>
    </head>
    <body>
        <header>
            <%- include("../inc/nav.ejs") %>
        </header>
        <main>
            <h1>Dashboard</h1>
            <div class="profile">
                <h2>Profile:</h2>
                <dl>
                    <p>
                        <dt>Username:</dt>
                        <dd><%= user.username %></dd>
                    </p>
                    <p>
                        <dt>Email:</dt>
                        <dd><%= user.email %></dd>
                    </p>
                    <p>
                        <dt>Phone:</dt>
                        <dd><%= user.phone %> </dd>
                    </p>
                    <p>
                        <dt>Address:</dt>
                        <dd><%= user.home_address %> </dd>
                    </p>
                </dl>
            </div>
            <form action="/logout" method="GET">
                <button type="submit">Logout</button>
            </form>
        </main>
<%- include("../inc/end.ejs") %>