<%- include("../inc/head.ejs") %>
<link rel="stylesheet" href="/css/tables.css">
    </head>
    <body>
        <header>
            <%- include("../inc/nav.ejs") %>
        </header>
        <main>
            <table style="table-layout: fixed;"class="items-table table">
                <thead id="thead">
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>CATEGORY NAME</th>
                        <th>MANUFACTURE</th>
                        <th>PRICE</th>
                        <th>STOCK AVALIABLE</th>
                        <th>DATE FIRST AVALIABLE</th>
                        <th id="actions-column">Actions</th>
                    </tr>
                </thead>
                <tBody id="tbody">
                    <% allItems.forEach(item => { %>
                        <tr data-item-id="<%= item.id %>">
                            <td><%= item.id %></td>
                            <td><%= item.name %></td>
                            <td><%= item.categoryName %></td>
                            <td><%= item.manufacture %></td>
                            <td><%= item.price %></td>
                            <td><%= item.stockAvailable %></td>
                            <td>a date</td>
                        </tr>
                    <% }); %>
                </tBody>
            </table>
        </main>
        <script src="/js/items-table.js"></script>
<%- include("../inc/end.ejs") %>