<%- include("../inc/head.ejs") %>
    </head>
    <body>
        <header>
            <%- include("../inc/nav.ejs") %>
        </header>
        <main>
            <form action="/admin/edit/confirm/<%= userId %>" method="POST">
                <label for="username">Username:</label>
                <input
                    class="required"
                    id="username"
                    type="text"
                    name="username"
                    placeholder="*required"
                    value= <%= username %>>

                <label for="email">Email:</label>
                <input
                    class="required"
                    id="email"
                    type="email"
                    name="email"
                    placeholder="*required"
                    value= <%= email %>>

                <label for="phone">Phone:</label>
                <input
                    id="phone"
                    type="tel"
                    name="phone"
                    pattern="[0-9]{11}"
                    title="Must be a valid phone number"
                    value= <%= phone %>>

                <label for="address">Address:</label>
                <input
                    id="address"
                    type="text"
                    name="address"
                    value= <%= address %>>

                <button type="submit">Update</button>
            </form>
        </main>
<%- include("../inc/end.ejs") %>
