<%- include("../inc/head.ejs") %>
<link rel="stylesheet" href="/css/tables.css">
    </head>
    <body>
        <header>
            <%- include("../inc/nav.ejs") %>
        </header>
        <main>
            <table class="users-table table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>USERNAME</th>
                        <th>EMAIL</th>
                        <th>PHONE</th>
                        <th>ADDRESS</th>
                        <th id="actions-column">ACTIONS</th>
                    </tr>
                </thead>
                <tBody id="tbody">
                    <% allUsers.forEach(user => { %>
                        <tr data-user-id="<%= user.id %>">
                            <td><%= user.id %></td>
                            <td><%= user.username %></td>
                            <td><%= user.email %></td>
                            <td><%= user.phone %></td>
                            <td><%= user.home_address %></td>
                        </tr>
                    <% }); %>
                </tBody>
            </table>
        </main>
        <script src="/js/admin-users-table.js" defer></script>
<%- include("../inc/end.ejs") %>