<%- include("inc/head.ejs") %>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usersname</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <% for (let i=0; i<rows.length; i++) { %>
                <tr>
                    <td><%= rows[i][0] %></td>
                    <td><%= rows[i][1] %></td>
                    <td><%= rows[i][2] %></td>
                    <td><%= rows[i][3] %></td>
                    <td><%= rows[i][4] %></td>
                    <td>
                        <div class="actions">
                            <form action="/admin/users/delete/<%= rows[i][0] %>" method="POST">
                                <button class="actions" type="submit">delete</button>
                            </form>

                            <form action="/admin/users/edit/<%= rows[i][0] %>" method="POST">
                                <button class="actions" type="submit">edit</button>
                            </form>
                        </div>
                    </td>
                </tr>
                <% } %>
            </table>
        </main>
<%- include("inc/end.ejs") %>
