<%- include("../inc/head.ejs") %>
<link rel="stylesheet" href="/css/forms.css">
    </head>
    <body>
        <header>
            <%- include("../inc/nav.ejs") %>
        </header>
        <main>
            <div id="order-summary" class="box">
                <p>Number of Items in Cart: <%= cartSummary.items_count %> </p>
                <p>Total Price: <%= cartSummary.total_price %>  </p>
            </div>
            <form id="main-form" class="box">
                <h1>Checkout</h1>
                <label for="payment-method">Choose a payment method:</label>
                <select name="payment_method" id="payment-method">
                    <option value="2" selected>Credit Card</option>
                    <option value="4">PayPal</option>
                    <option value="3">Stripe</option>
                    <option value="5">Cash on Delivery</option>
                </select>
                <label for="shipping-address">Shipping Address</label>
                <input type="text" name="shipping_address" id="shipping_address">
                <input id="place-order" type="submit" value="Place Order">
            </form>
            <input id="user-id" type="hidden" name="userId" value="<%= userId %>">
        </main>
        <script src="/js/checkout.js"></script>
<%- include("../inc/end.ejs") %>