<%- include("../inc/head.ejs") %>
<link rel="stylesheet" href="/css/tables.css">
    </head>
    <body>
        <header>
            <%- include("../inc/nav.ejs") %>
        </header>
        <main>
            <% if (isAuth) {%>
                <table style="table-layout: fixed;"class="products-table table">
                    <thead id="thead">
                        <tr>
                            <th>TITLE</th>
                            <th>CATEGORY</th>
                            <th>PRICE</th>
                            <th id="actions-column">Actions</th>
                        </tr>
                    </thead>
                    <tBody id="tbody">
                        <% allProducts.forEach(product => { %>
                            <tr data-product-id="<%= product.id %>">
                                <td><%= product.title %></td>
                                <td><%= product.category_name %></td>
                                <td><%= product.price %></td>
                            </tr>
                        <% }); %>
                    </tBody>
                </table>
                <script src="/js/shop-products-table.js"></script>
            <% } else {%>
                <h1>Welcome to the Shop</h1>
            <% } %>
        </main>
<%- include("../inc/end.ejs") %>